body {

    width: 100vw;
    height: 100vh;
    margin: 0;
    background: url("../img/login.jpg");
    background-size: cover;
    
}

/* seção superior */
nav.top {
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: fit-content;
    padding: 15px;
    z-index: 1;

}

.navtitulo {

    font-family: 'Bangers', cursive;
    font-size: 20px;
    color: white;
    
}

.top-direita {

    float: right;
    padding-right: 30px;

}

.top-direita > a {

    font-family: 'Bangers', cursive;
    text-decoration: none;
    color: white;
    z-index: 1;
    padding: 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;

}

.top-direita > a:hover {

    
    background-color: white;
    color: black;
    box-shadow: 0px 0px 25px 10px rgb(255, 255, 255);
    transition: 1s;

}

/*
.top-direita >a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      orangered,
      purple
    );
    opacity: 0;
    transition: opacity 0.9s;
    z-index: -1; 
}

.top-direita > a:hover::before {

    opacity: 1;
    color: black;
    
}
*/
/*   FIM SECAO TOPO    */

div.conteudo {

    text-align: center;
    height: 100%;   
    width: 100%;

}


.loginform {

    padding: 50px;
    background-color: rgba(0, 0, 0, 0.685);
    text-align: left;
    margin-top: 220px;    
    display: inline-block;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Bangers', cursive;
    transition: 1s;

}

@media (max-width: 600px){

    div.conteudo {

        height: auto !important; 

    }

    .loginform {

        margin-top: 320px;
    
    }


}

input {
    
    padding: 5px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid red;

}

input:focus-within{

    box-shadow: 0px 0px 25px 10px rgb(255, 0, 0);

}

.enviar {

    font-family: 'Bangers', cursive;
    font-size: 15px;
    border-radius: 25px;
    padding: 10px;
    color: white;
    background-color: red;
    border: 1px solid red;
    

}

.enviar:disabled {

    background-color: rgb(172, 59, 59);

}

.enviar:hover {

    box-shadow: 0px 0px 20px 5px red;

} 

.fundo {

    padding-top: 20px;
    text-align: center;

}


form a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px red;
}

.registroform {

    display: none;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.685);
    text-align: left;
    margin-top: 180px;    
    color: white;
    border-radius: 20px;
    font-family: 'Bangers', cursive;
    transition: 1s;
}

.alertas {
    text-align: right;
    display: none;
    position: absolute;
    margin-top: 60px;
    padding: 10px;
    right: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    width: max-content;
}

.alertas #informacao {
    color: white;
    font-family: 'Bangers', cursive;
    text-align: left;
    float: right;
    margin-right: 10px;
}

.alertas a  {
    float: right;
    margin-right: 5px;
    color: black;
    text-decoration: none;
    font-family: monospace;
    background-color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;   
}

/* Dropdown teste*/

.menu-fall {
    visibility: hidden;
    position: fixed;
    right: 10px;
    top: 50px;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    cursor: default;
    border-radius: 10px;
    background-color: white;
}

@media (max-width:600px){
    .top-direita a{
        display: none;
    }

    div.icon {
        cursor: pointer;
        height: auto;

    }

    div.icon div.bars {
        background-color: white;
        width: 20px;
        height: 2px;
        margin: 6px 0;
    }
    
    .menu-fall li {
        text-align: left;
        list-style: none;
        display: block;
        color: black;
        position: relative;
        right: 30px;
        padding: 7px;
    }

    .menu-fall li a {
        list-style: none;
        display: block;
        color: black;
        text-decoration: none;
        
    }
}